Gemfile.lock
vendor/bundle
tmp/

# puppet and bolt
beaker-logs
inventory.*.yaml
.modules
.plan_cache.json
Puppetfile
spec/fixtures/modules/kvm_automation_tooling
.rerun.json
.resource_types
.task_cache.json
.yardoc

# terraform
.terraform*
terraform/**/*.tfvars*
terraform/**/*.tfstate
terraform/**/*.tfstate.*

# misc
tools/manual-vm-create.cloud-init.d/ubuntu/user-data
tools/manual-vm-create.cloud-init.d/ubuntu/network-config
tools/manual-vm-create.cloud-init.d/ubuntu/metadata
