Gemfile.lock
vendor/bundle

# puppet and bolt
inventory.*.yaml
.modules
.plan_cache.json
Puppetfile
spec/fixtures/modules/kvm_automation_tooling
.resource_types
.task_cache.json

# terraform
.terraform*
terraform/**/*.tfvars*
terraform/**/*.tfstate
terraform/**/*.tfstate.*
