---
name: 'Beaker Workflow Test'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  # Suppress warnings about Bolt gem versus package use.
  BOLT_GEM: true

jobs:
  standup-cluster-and-run-beaker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - ['almalinux', '9', 'x86_64']
          - ['debian', '12', 'x86_64']
          - ['rocky', '10', 'x86_64']
          - ['ubuntu', '24.04', 'x86_64']
    steps:
      - uses: actions/checkout@v6
        with:
          path: 'kvm_automation_tooling'
      - id: vm-cluster
        uses: jpartlow/nested_vms@main
        with:
          os: ${{ matrix.os[0] }}
          os-version: ${{ matrix.os[1] }}
          os-arch: ${{ matrix.os[2] }}
          setup-cluster-root-ssh: true
          debug: true
          # Use our local branch instead
          checkout: false
          install-openvox: true
          vms: |-
            [
              {
                "role": "runner",
                "cpus": 4,
                "mem_mb": 8192,
                "cpu_mode": "host-model"
              },
              {
                "role": "agent",
                "cpus": 2,
                "mem_mb": 2048,
                "cpu_mode": "host-model"
              }
            ]
      - name: Display inventory details
        working-directory: kvm_automation_tooling
        env:
          INVENTORY_JSON: ${{ steps.vm-cluster.outputs.cluster-details }}
        run: |-
          jq . <<< $INVENTORY_JSON
      - name: Run openvox_acceptance plan
        working-directory: kvm_automation_tooling
        run: |-
          bundle exec bolt plan run kvm_automation_tooling::dev::openvox_acceptance --inventory terraform/instances/inventory.test.yaml runner="test-runner-1" subjects="test-agent-1" --stream --no-verbose
  test-beaker-on-debian-pre-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          path: 'kvm_automation_tooling'
      - id: vm-cluster
        uses: jpartlow/nested_vms@main
        with:
          os: debian
          os-version: '13'
          os-arch: amd64
          image_version: 'daily-latest'
          setup-cluster-root-ssh: true
          debug: true
          # Use our local branch instead
          checkout: false
          install-openvox: true
          openvox-released: false
          openvox-version: '8.17.0'
          vms: |-
            [
              {
                "role": "runner",
                "cpus": 4,
                "mem_mb": 8192,
                "disk_gb": 10
              },
              {
                "role": "agent",
                "cpus": 2,
                "mem_mb": 2048
              }
            ]
      - name: Display inventory details
        working-directory: kvm_automation_tooling
        env:
          INVENTORY_JSON: ${{ steps.vm-cluster.outputs.cluster-details }}
        run: |-
          jq . <<< $INVENTORY_JSON
      - name: Run openvox_acceptance plan
        working-directory: kvm_automation_tooling
        run: |-
          bundle exec bolt plan run kvm_automation_tooling::dev::openvox_acceptance --inventory terraform/instances/inventory.test.yaml runner="test-runner-1" subjects="test-agent-1" --stream --no-verbose
